*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container{
    width: 420px;
    margin: 50px auto;
    background:rgb(206,247,140);
    padding: 20px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
input{
width: 95%;
padding: 10px;
margin-bottom: 15px;
}
.user-list{

}
.user-card{
    background: #90bbe7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid red;
}