*{
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
   }
   h1{
    margin-top: 20px;
   }
   h2{
    padding: 30px;

   }
   input{
    padding: 20px 40px;
    display: inline-flex;
   }
   
   button{
  padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor:pointer;
   }
  .error {
    border: 2px solid red;       /* Red border */
    background-color: #ffe6e6;   /* Light red background */
  }
  .valid {
    border: 2px solid green;     /* Green border for valid input */
    background-color: #e6ffe6;   /* Light green background */
  }
  #result{
  color: red;
}

.map-container {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.map-container h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

.map-container iframe {
    width: 100%;
    border: none;
    height: 250px;
    border-radius: 0 0 8px 8px;
}

